.hdr{
    background-color: #EFEFEF;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    height:40;
}
.description{
    background-color: #F0EFF5;
    text-align: left;
    height:auto;
}
.box{
    width:1000;
    height:auto;   
}
.table{
    height:auto;
}
.hdrTxt{
    font-weight: bold;
    color: #0D61A6;
}
.table > .table-header{
    background-color:white;
    border-width:0 0 1 0; 
    border-color:#EEE;
    
}

.table > .table-header > .th{
    height:50;
    vertical-align:middle;
    padding:0 10;
    font-size: 13;
    color:#000;
    font-weight:bold;
}
.table > .table-body{
    height:auto;
}
.table > .table-body.tr{
    border-width:0 0 1 0; 
    border-color:#EEE;
    vertical-align: middle;
    
}
.table > .table-body.tr > .td{
    padding:20 10;
    /*border-width:0 1 0 0; 
    border-color:#EEE;*/
    font-size: 13;
    color:#000;
    vertical-align: middle;
}
.table > .table-bodys{
    height:auto
}
.table > .table-bodys .tr{
    border-width:0 0 1 0; 
    border-color:#EEE;
    vertical-align: middle;
    
}
.table > .table-bodys .tr > .td{
    padding:20 10;
    /*border-width:0 1 0 0; 
    border-color:#EEE;*/
    font-size: 13;
    color:#000;
    vertical-align: middle;
}