.page{
    background-color: rgb(219,218,216);
}

.btmhdr{
    width:100%;
    height:15%; 
    background-color:rgb(245,245,245);
    margin:2%;
}


btn{
    background-color: white;
    color:lightgrey;
    margin: 0;
}

.ag{
    text-align: right;
}
.hdrtxt{
    font-size: 21;font-weight:bold;margin:15;
}
.hdricon{
    font-size:21;font-weight:bold;margin-left:700;vertical-align: middle;
}
.text{
    font-size: 18;vertical-align:center;color: black;
}

.cashtype{
    border-color: lightgray;border-width:2,2,2,2;margin-right:150;
}
.paytxt{
    font-size: 20;margin:15;color: black;
}
.grid{
    background-color: white;margin-bottom:2;
}
.bgdgrid{
    background-color: rgb(219,218,216); margin: 20;
}
.lightgrey{
    background-color: rgb(245,245,245);
}
.radiobtn{
    font-size: 20;margin:2;
}
.cashtxt{
    font-size: 18;margin:5;
}
.whitebg{
    background-color: white;
}
.left{
    background-color: #F5F5F5;padding:10;margin:3;vertical-align:top;
}
.btn1{
    width:400;margin:2;
}
.payhdr{
    border-color: gray;border-width:0,0,2,0;
}
.bg1{
    background-color: #FFF
}
.confirmPay{
    margin:6;margin-left:700;
}
.bagicon{
    font-size: 30;margin-left: 10;
}
.margin{
    margin-top: 10;
}
.btnarray{
    vertical-align: center;margin-left:800;
}