<ActionBar title="Issue Compensation" class="action-bar">
    <ActionItem (tap)="navigateToHome()" ios.position="right" text="{{userdetails}}">
    </ActionItem>
    <ActionItem ios.position="right" icon="res://logout_icons/logoff_edit" (tap)="_services.LogOut()">
    </ActionItem>
</ActionBar>
<GridLayout #pagecontainer>
    <DockLayout stretchLastChild="true" class="page">
        <StackLayout dock="bottom" class="page-footer">
            <StackLayout class="tabbed-menu">
                <StackLayout class="tabbed-menu-item menu-divider" (tap)="navigateToSearch()">
                    <Label text="&#xe907;" color="{{isCheckinDisabled  ? '#2260A4' : 'lightgray'}}" class="menu-item-icon copa-icon"></Label>
                    <Label text="Check In" class="menu-item-text"></Label>
                </StackLayout>
                <StackLayout class="tabbed-menu-item menu-divider" (tap)="navigateToDepartures()">
                    <Label text="&#xE904;" color="{{isGateDisabled  ? '#2260A4' : 'lightgray'}}" class="menu-item-icon copa-icon"></Label>
                    <Label text="Departures" class="menu-item-text"></Label>
                </StackLayout>
                <StackLayout class="tabbed-menu-item active menu-divider" (tap)="navigateToCompensation()">
                    <Label text="&#xe90e;" class="menu-item-icon copa-icon"></Label>
                    <Label text="Compensation" class="menu-item-text"></Label>
                </StackLayout>
                <StackLayout class="tabbed-menu-item menu-divider">
                    <Label text="&#xe90f;" class="menu-item-icon copa-icon" style="color:lightgray"></Label>
                    <Label text="Notification" class="menu-item-text"></Label>
                </StackLayout>
                <StackLayout class="tabbed-menu-item" (tap)="navigateToSetting()">
                    <Label text="&#xe917;" class="menu-item-icon copa-icon"></Label>
                    <Label text="Settings" class="menu-item-text"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <div *ngIf="IsFlightInfo">
            <StackLayout dock="top" class="headerinfo">
                <GridLayout columns="auto, auto,*,auto" class="flight-info" [visibility]="FlightInfoNotSet ? 'collapse' : 'visible'">
                    <StackLayout col="0" class="flight-details bdr-right-big">
                        <StackLayout orientation="horizontal" class="details">
                            <Label text="{{FlightHeaderInfo.FlightNumber}}" class="p-r-10 text-blue font-medium font-bold  bdr-right"></Label>
                            <Label text="{{FlightHeaderInfo.DepartureDate}}" class="p-l-10 font-small text-default "></Label>
                        </StackLayout>
                        <Label text="{{FlightHeaderInfo.Status}}" class="details font-medium text-blue"></Label>
                        <Label text="{{PassengerType}}" class="details font-medium"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="flight-details bdr-right-big">
                        <StackLayout orientation="horizontal" class="details p-l-10">
                            <Label class="p-r-10 text-default font-medium">
                                <FormattedString>
                                    <Span text="{{FlightHeaderInfo.DepartureAirport}}" fontAttributes="Bold"></Span>
                                </FormattedString>
                            </Label>
                            <Label text="&#xE5CC;" class="material-icon p-r-10 text-default font-medium"></Label>
                            <Label class="p-r-10 text-default font-medium">
                                <FormattedString>
                                    <Span text="{{FlightHeaderInfo.DestinationAirport}}" fontAttributes="Bold"></Span>
                                </FormattedString>
                            </Label>
                            <Label *ngIf="FlightHeaderInfo.multiLegFlight" text="&#xE5CC;" class="material-icon p-r-10 text-default font-medium"></Label>
                            <Label *ngIf="FlightHeaderInfo.multiLegFlight" class="p-r-10 text-default font-medium">
                                <FormattedString>
                                    <Span text="{{FlightHeaderInfo.finalDestination}}" fontAttributes="Bold"></Span>
                                </FormattedString>
                            </Label>
                        </StackLayout>
                        <StackLayout orientation="horizontal" class="details p-l-10">
                            <StackLayout orientation="horizontal">
                                <Label text="STD" class="p-r-5 font-small text-default font-bold"></Label>
                                <Label text="{{FlightHeaderInfo.STD}}" class="p-r-10 font-small text-black font-bold"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal">
                                <Label text="ETD" class="p-r-5 font-small text-default font-bold"></Label>
                                <Label text="{{FlightHeaderInfo.ETD}}" class="p-r-10 font-small text-black font-bold"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal">
                                <Label text="ETA" class="p-r-5 font-small text-default font-bold"></Label>
                                <Label text="{{FlightHeaderInfo.STA}}" class="p-r-10 font-small text-black font-bold"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout col="3" orientation="horizontal" class="vrt-middle">
                        <StackLayout class="m-l-10">
                            <Button automationText="issuecomp_issuebtn"class="btn btn-primary" text="Issue Compensation" [isEnabled]="continueEnabled()" (tap)="issueCompensationConfirmation()"></Button>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </div>

        <div *ngIf="IsHeaderInfo">
            <StackLayout dock="top" class="headerinfo">
                <StackLayout orientation="horizontal">
                    <StackLayout orientation="vertical" class="m-t-15">
                        <Label text="{{OrderId}}" class="text-blue font-big m-l-5"></Label>
                        <Label text="Compensation based on Order ID" class="font-medium m-l-5"></Label>
                    </StackLayout>
                    <StackLayout style="margin-left:550" orientation="horizontal" class="m-t-15">
                        <!-- <StackLayout>
                        <Button class="btn btn-primary" text="Save"></Button>
                    </StackLayout> -->
                        <StackLayout class="m-l-5">
                            <Button automationText="issuecomp_issuebtn1"class="btn btn-primary" text="Issue Compensation" [isEnabled]="continueEnabled()" (tap)="issueCompensationForOrderIdConfirmation()"></Button>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </div>

        <StackLayout dock="bottom">
            <GridLayout orientation="horizontal" class="btmhdr" columns="540,80,80,80,80" height="10%">

                <StackLayout col="0" class="vrt-middle" style="margin-left:60">
                    <Label text="Total"></Label>
                </StackLayout>
                <StackLayout col="1" class="hrz-center vrt-middle">
                    <Label text="{{totalMonetary}}"></Label>
                </StackLayout>
                <StackLayout col="2" class="hrz-center vrt-middle">
                    <Label text="{{totalHotel}}"></Label>
                </StackLayout>
                <StackLayout col="3" class="hrz-center vrt-middle">
                    <Label text="{{totalMeal}}"></Label>
                </StackLayout>
                <StackLayout col="4" class="hrz-center vrt-middle">
                    <Label text="{{totalTransport}}"></Label>
                </StackLayout>
            </GridLayout>

        </StackLayout>

        <DockLayout dock="top" height="60" class="stack" orientation="horizontal">
            <!-- <DockLayout width="240" class="input-field input-field-regular hrz-left m-l-10" stretchLastChild="true" (tap)="displayDialogForFliterPassengerType()">
                <Label dock="right" text="&#xe901;" class="new-copa-icon text-blue" style="font-size:7"></Label>
                <Label dock="left" class="input" [text]="PassengerFliterCriteria"></Label>
            </DockLayout> -->
            <DockLayout width="90" class="input-field input-field-regular hrz-left m-l-10" stretchLastChild="true" (tap)="displayProductActionDialogForSmartFilter()">
                <Label automationText="issuecomp_criteriaicon"dock="right" text="&#xe901;" class="new-copa-icon text-blue" style="font-size:7"></Label>
                <Label automationText="issuecomp_criteria"dock="left" class="input" [text]="SearchCriteria"></Label>
            </DockLayout>
            <DockLayout width="280" height="40" class="input-field input-field-regular m-l-10" style="background-color:white" stretchLastChild="true">
                <Label automationText="issuecomp_searchnameicon"dock="right" class="label copa-icon m-5 " text="&#xe915;" color="{{isValid?'blue':'gray'}}" (tap)="filter(SearchByName)"></Label>
                <TextField automationText="issuecomp_searchname"dock="left" hint="Enter" class="input m-5" [(ngModel)]="SearchByName" (ngModelChange)="filter($event)" returnKeyPress="done"
                    (returnPress)="filter(SearchByName)"></TextField>
            </DockLayout>
            <DockLayout width="120" class="input-field input-field-regular m-l-10" style="background-color:white" stretchLastChild="true">
                <!-- <StackLayout orientation="horizontal">
                    <Label text="(" class=" font-medium text-blue font-bold"></Label>
                    <Label [text]="selectedPassengerCount" class="font-medium text-blue font-bold"></Label>
                    <Label text="/" class="font-medium text-blue  font-bold"></Label>
                    <Label [text]="TotalPassengerCount" class="font-medium text-blue font-bold"></Label>
                    <Label text=")" class=" font-medium text-blue font-bold"></Label>
                </StackLayout> -->
            </DockLayout>
            <!-- <Label text={{selectedEMDs}}></Label>
            <Label text={{SelectedPaxcount}} class="m-l-10"></Label> -->
            <StackLayout dock="right" class="vrt-middle hrz-right m-r-20" [visibility]="IsLabelField ? 'visible' : 'collapsed'">
                <Label automationText="issuecomp_edit"text="Edit" class="text-blue font-medium font-bold" color="{{isEditEnabled()?'#2260A4':'gray'}}" (tap)="editable()"></Label>
            </StackLayout>
            <StackLayout dock="right" class="vrt-middle hrz-right m-r-10" [visibility]="IsEditable ? 'visible' : 'collapsed'">
                <StackLayout orientation="horizontal">
                    <Label automationText="issuecomp_done"text="Done" class=" m-l-15 font-medium font-bold" color="{{isButtonEnabled?'#2260A4':'gray'}}" (tap)="done()"></Label>
                </StackLayout>
            </StackLayout>
        </DockLayout>

        <StackLayout class="page-body">

            <DockLayout stretchLastChild="true" style="margin-top: 5" class="table m-10 stack">
                <GridLayout row="0" class="table-header" dock="top" rows="auto,auto" columns="45,180,70,65,75,100,80,80,80,80,90">
                    <StackLayout class="th" col="0">
                        <Label automationText="issuecomp_selectall"text="{{SelectAllPax ? '&#xE834;':'&#xE835;'}}" class="material-icon checkbox" (tap)="selectingAllPax()"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="1" (tap)="sortBasedOnPaxName()" orientation="horizontal">
                        <Label automationText="issuecomp_sortname" [text]="this.nameSortIndicator == -1 ? '&#xe902;' : this.nameSortIndicator ==0 ? '&#xe900;': '&#xe901;'" class="new-copa-icon font-small m-5"></Label>
                        <Label text="Name" textWrap="true"></Label>
                        <StackLayout orientation="horizontal" class="m-l-10">
                            <Label text="(" class="font-bold text-black"></Label>
                            <Label [text]="selectedPassengerCount" class="font-bold text-black"></Label>
                            <Label text="/" class="font-bold text-black"></Label>
                            <Label [text]="TotalPassengerCount" class="font-bold text-black"></Label>
                            <Label text=")" class="font-bold text-black"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="th" col="2" (tap)="sortBasedOnSSR()" orientation="horizontal">
                        <Label automationText="issuecomp_sortssr"[text]="this.ssrSortIndicator == -1 ? '&#xe902;' : this.ssrSortIndicator ==0 ? '&#xe900;': '&#xe901;'" class="new-copa-icon font-small "></Label>
                        <Label text="SSR" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="3" (tap)="sortBasedOnTier()" orientation="horizontal">
                        <Label automationText="issuecomp_sorttier"[text]="this.tierSortIndicator == -1 ? '&#xe902;' : this.tierSortIndicator ==0 ? '&#xe900;': '&#xe901;'" class="new-copa-icon font-small "></Label>
                        <Label text="Tier" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="4" (tap)="sortBasedOnClass()" orientation="horizontal">
                        <Label automationText="issuecomp_sortclass"[text]="this.classSortIndicator == -1 ? '&#xe902;' : this.classSortIndicator ==0 ? '&#xe900;': '&#xe901;'" class="new-copa-icon font-small "></Label>
                        <Label text="Cabin" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="5" (tap)="sortBasedOnOrderId()" orientation="horizontal">
                        <Label automationText="issuecomp_sortorder"[text]="this.orderIdSortIndicator == -1 ? '&#xe902;' : this.orderIdSortIndicator ==0 ? '&#xe900;': '&#xe901;'" class="new-copa-icon font-small m-5"></Label>
                        <Label text="Order ID" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="6">
                        <Label text="Amt($)"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="7">
                        <Label text="Hotel"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="8">
                        <Label text="Meal"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="9">
                        <Label text="Trans"></Label>
                    </StackLayout>
                    <StackLayout class="th" col="10">
                        <Label text="Additional Details" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
                <ScrollView>
                    <StackLayout separatorColor="transparent" dock="bottom">
                        <StackLayout *ngFor="let item of IssueCompensationPaxList; let i = index" class="table-body">
                            <!-- <Label text="{{item.FullName}}"></Label> -->
                            <!-- <ng-template let-item="item" let-odd="odd" let-even="even" let-i="index"> -->
                            <!-- <GridLayout rows="auto,auto" columns="40,*,70,90,*,*,*" class="p-10 {{i%2 == 0 ? 'odd':'even'}}"> -->
                            <GridLayout class="tablerow" backgroundColor="{{item.IsSelected?'#F6F2DC':i%2 == 0?'#F5F5F5':'#FFF'}}" (tap)="toggleChecked(item)"
                                columns="50,180,70,60,60,100,80,80,80,80,100">
                                <WrapLayout class="tabledata td-icon" col="0">

                                    <WrapLayout>
                                        <!-- <Label text="{{item.IsSelected?'&#xE834;':'&#xE835;'}}" class="material-icon checkbox"></Label> -->
                                    </WrapLayout>

                                </WrapLayout>
                                <WrapLayout orientation="vertical" class="tabledata" col="1">
                                    <StackLayout>
                                        <Label automationText="issuecomp_toggle{{i}}"text="{{item.FullName}}" textWrap="true" class="hrz-center"></Label>
                                        <Label text="{{item.PaxType == 'ADT' ? '' : item.PaxType }}" class="font-small text-blue"></Label>
                                        <Label text="{{item.PaxSplChar}}" class="font-small text-blue"></Label>
                                        <Label text="{{item.PaxStatus}}" class="font-small text-blue"></Label>
                                    </StackLayout>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="2" (tap)="displaySSRs(item)">
                                    <Label automationText="issuecomp_displayssr"text="{{item.SSRsCount}}"></Label>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="3">
                                    <Label text="{{item.Tier}}" class="hrz-center"></Label>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="4">
                                    <Label text="{{item.Cabin}}" class="hrz-center"></Label>
                                </WrapLayout>

                                <WrapLayout class="tabledata hrz-center" style="margin-left:18" col="5">
                                    <Label text="{{item.OrderId}}" class="hrz-center"></Label>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="6">
                                    <StackLayout class="input-field input-field-vertical" style="margin-left:15" [visibility]="IsEditable && item.IsSelected ? 'visible' : 'collapsed'">
                                        <TextField  automationText="issuecomp_changeamount"class="input"  color="black" [(ngModel)]="item.monetary" [class.error-field]="ValidMonetary[i]" width="100%" (ngModelChange)="onChangeForAmount($event,i,item.monetary,item)"
                                            returnKeyType='done'  (blur)="overidereasonformonetary(item,1)" (returnPress)="overidereasonformonetary(item,1)"></TextField>
                                    </StackLayout>
                                    <Label text="{{item.monetary}}" class="text-black font-medium " [visibility]="IsLabelField || (IsEditable && !item.IsSelected)  ? 'visible' : 'collapsed'"></Label>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="7">
                                    <StackLayout class="input-field input-field-vertical" style="margin-left:15"  [visibility]="IsEditable && item.IsSelected ? 'visible' : 'collapsed'">
                                        <TextField automationText="issuecomp_changehotel"class="input" color="black" [(ngModel)]="item.hotel" [class.error-field]="ValidHotel[i]" width="100%" (ngModelChange)="onChangeForHotel($event,i,item.hotel,item)"
                                            returnKeyType="done"  (blur)="overidereasonforhotel(item,2)" (returnPress)="overidereasonforhotel(item,2)"></TextField>
                                    </StackLayout>
                                    <Label text="{{item.hotel}}" class="text-black font-medium" [visibility]="IsLabelField || (IsEditable && !item.IsSelected) ? 'visible' : 'collapsed'"></Label>
                                </WrapLayout>
                                <WrapLayout class="tabledata hrz-center" col="8">
                                    <StackLayout class="input-field input-field-vertical" style="margin-left:15"  [visibility]="IsEditable && item.IsSelected ? 'visible' : 'collapsed'">
                                        <TextField automationText="issuecomp_changemeal"class="input" color="black" [(ngModel)]="item.meal" [class.error-field]="ValidMeal[i]" width="100%" (ngModelChange)="onChangeForMeal($event,i,item.meal,item)"
                                            returnKeyType="done"  (blur)="overidereasonformeal(item,3)" (returnPress)="overidereasonformeal(item,3)"></TextField>
                                    </StackLayout>
                                    <Label text="{{item.meal}}" class="text-black font-medium" [visibility]="IsLabelField  || (IsEditable && !item.IsSelected)? 'visible' : 'collapsed'"></Label>
                                </WrapLayout>

                                <WrapLayout class="tabledata hrz-center" col="9">
                                    <StackLayout class="input-field input-field-vertical" style="margin-left:15"  [visibility]="IsEditable && item.IsSelected ? 'visible' : 'collapsed' ">
                                        <TextField automationText="issuecomp_changetransport"class="input" color="black" [(ngModel)]="item.transportation" [class.error-field]="Validtransport[i]" width="100%" (ngModelChange)="onChangeForTransport($event,i,item.transportation,item)"
                                            returnKeyType="done"  (blur)="overidereasonfortransport(item,4)" (returnPress)="overidereasonfortransport(item,4)"></TextField>
                                    </StackLayout>
                                    <Label text="{{item.transportation}}" class="text-black font-medium" [visibility]="IsLabelField || (IsEditable && !item.IsSelected) ? 'visible' : 'collapsed'"></Label>
                                </WrapLayout>

                                <WrapLayout class="tabledata hrz-center" col="10">
                                    <Label automationText="{{IsEditable && item.IsSelected ?'Edit_true':'Edit_false'}}" enabled="{{sEditable && item.IsSelected? 'true' : 'false' }}"     text="{{item.AdditionalDetails}}" color="{{IsEditable && item.IsSelected ?'#2260A4':'gray'}}" [isEnabled]="IsEditable && item.IsSelected? 'true' : 'false' " class="hrz-center text-blue font-bold"
                                        (tap)="navigatetoadditionaldetails(item)"></Label>
                                </WrapLayout>
                            </GridLayout>
                            <!-- </ng-template> -->
                        </StackLayout>
                    </StackLayout>
                </ScrollView>

            </DockLayout>


        </StackLayout>


    </DockLayout>
</GridLayout>