.modal-view-style { 
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
    padding: 20px;
}
.day-disp {
    font-size: 20em;
    color: rgb(red, green, blue);
    margin-top: 20px;
}